Repository blitzy-public-samples/baby-nkwdip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @android-team, @ios-team, @backend-team, @frontend-team, @ml-team, @qa-team, @devops-team, @security-team, @dependency-managers, @audio-processing-team, @technical-writers, @database-team, @sre-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request
* @project-leads

# Android native code including audio processing components
/src/android/** @android-team

# iOS native code including audio capture modules
/src/ios/** @ios-team

# Backend services including API and ML processing
/src/backend/** @backend-team

# Web/React Native cross-platform components
/src/web/** @frontend-team

# Machine learning models and training code
/src/ml/** @ml-team

# Test files across all components
/src/**/test/** @qa-team

# Infrastructure and deployment configurations
/infrastructure/** @devops-team
*.yml @devops-team

# Security-sensitive components
/src/**/security* @security-team

# Dependency management
package*.json @dependency-managers
*.gradle @android-team @dependency-managers
Podfile* @ios-team @dependency-managers

# Audio processing components
/src/**/audio/** @audio-processing-team

# Environment and security configurations
*.env* @security-team @devops-team

# Documentation
/docs/** @technical-writers

# Ensure security team reviews any encryption or auth changes
/src/**/auth/** @security-team
/src/**/crypto/** @security-team

# CI/CD pipeline configurations
/.github/workflows/** @devops-team

# Database schema and migrations
/src/**/db/migrations/** @backend-team @database-team

# API specifications and documentation
/src/**/api/** @backend-team @technical-writers

# Monitoring and observability configurations
/src/**/monitoring/** @devops-team @sre-team

# Mobile platform-specific configurations
/android/** @android-team
/ios/** @ios-team

# Shared utilities and core components
/src/shared/** @project-leads @frontend-team @backend-team

# Configuration files requiring security review
*.config.js @security-team @devops-team
*.conf @security-team @devops-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Terraform infrastructure code
*.tf @devops-team @security-team

Add public-samples/baby-nkwdip/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team

Add public-samples/baby-nkwdip/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/nest-cli.json
  src/backend/nest-cli.json
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/package.json
  src/backend/package.json
Owners: @dependency-managers

Add public-samples/baby-nkwdip/src/backend/tsconfig.build.json
  src/backend/tsconfig.build.json
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/scripts/build.sh
  src/backend/scripts/build.sh
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/scripts/deploy.sh
  src/backend/scripts/deploy.sh
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/scripts/generate-swagger.ts
  src/backend/scripts/generate-swagger.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/scripts/seed.ts
  src/backend/scripts/seed.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/scripts/test.sh
  src/backend/scripts/test.sh
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/app.module.ts
  src/backend/src/app.module.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/main.ts
  src/backend/src/main.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/decorators/roles.decorator.ts
  src/backend/src/common/decorators/roles.decorator.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/filters/http-exception.filter.ts
  src/backend/src/common/filters/http-exception.filter.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/guards/roles.guard.ts
  src/backend/src/common/guards/roles.guard.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/interceptors/logging.interceptor.ts
  src/backend/src/common/interceptors/logging.interceptor.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/interceptors/transform.interceptor.ts
  src/backend/src/common/interceptors/transform.interceptor.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/middleware/logger.middleware.ts
  src/backend/src/common/middleware/logger.middleware.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/pipes/validation.pipe.ts
  src/backend/src/common/pipes/validation.pipe.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/utils/audio.util.ts
  src/backend/src/common/utils/audio.util.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/utils/crypto.util.ts
  src/backend/src/common/utils/crypto.util.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/utils/date.util.ts
  src/backend/src/common/utils/date.util.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/common/utils/file.util.ts
  src/backend/src/common/utils/file.util.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/config/app.config.ts
  src/backend/src/config/app.config.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/config/auth.config.ts
  src/backend/src/config/auth.config.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/config/redis.config.ts
  src/backend/src/config/redis.config.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/config/s3.config.ts
  src/backend/src/config/s3.config.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/config/swagger.config.ts
  src/backend/src/config/swagger.config.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/interfaces/config.interface.ts
  src/backend/src/interfaces/config.interface.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/interfaces/environment.interface.ts
  src/backend/src/interfaces/environment.interface.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/interfaces/jwt-payload.interface.ts
  src/backend/src/interfaces/jwt-payload.interface.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/analysis/analysis.controller.ts
  src/backend/src/modules/analysis/analysis.controller.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/analysis/analysis.module.ts
  src/backend/src/modules/analysis/analysis.module.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/analysis/analysis.service.ts
  src/backend/src/modules/analysis/analysis.service.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/analysis/dto/analysis-result.dto.ts
  src/backend/src/modules/analysis/dto/analysis-result.dto.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/analysis/dto/analyze-audio.dto.ts
  src/backend/src/modules/analysis/dto/analyze-audio.dto.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/analysis/interfaces/analysis.interface.ts
  src/backend/src/modules/analysis/interfaces/analysis.interface.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/analysis/schemas/analysis.schema.ts
  src/backend/src/modules/analysis/schemas/analysis.schema.ts
Owners: @backend-team
