Repository blitzy-public-samples/baby-nkwdip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @android-team, @ios-team, @backend-team, @frontend-team, @ml-team, @qa-team, @devops-team, @security-team, @dependency-managers, @audio-processing-team, @technical-writers, @database-team, @sre-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request
* @project-leads

# Android native code including audio processing components
/src/android/** @android-team

# iOS native code including audio capture modules
/src/ios/** @ios-team

# Backend services including API and ML processing
/src/backend/** @backend-team

# Web/React Native cross-platform components
/src/web/** @frontend-team

# Machine learning models and training code
/src/ml/** @ml-team

# Test files across all components
/src/**/test/** @qa-team

# Infrastructure and deployment configurations
/infrastructure/** @devops-team
*.yml @devops-team

# Security-sensitive components
/src/**/security* @security-team

# Dependency management
package*.json @dependency-managers
*.gradle @android-team @dependency-managers
Podfile* @ios-team @dependency-managers

# Audio processing components
/src/**/audio/** @audio-processing-team

# Environment and security configurations
*.env* @security-team @devops-team

# Documentation
/docs/** @technical-writers

# Ensure security team reviews any encryption or auth changes
/src/**/auth/** @security-team
/src/**/crypto/** @security-team

# CI/CD pipeline configurations
/.github/workflows/** @devops-team

# Database schema and migrations
/src/**/db/migrations/** @backend-team @database-team

# API specifications and documentation
/src/**/api/** @backend-team @technical-writers

# Monitoring and observability configurations
/src/**/monitoring/** @devops-team @sre-team

# Mobile platform-specific configurations
/android/** @android-team
/ios/** @ios-team

# Shared utilities and core components
/src/shared/** @project-leads @frontend-team @backend-team

# Configuration files requiring security review
*.config.js @security-team @devops-team
*.conf @security-team @devops-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Terraform infrastructure code
*.tf @devops-team @security-team

Add public-samples/baby-nkwdip/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @project-leads

Add public-samples/baby-nkwdip/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/baby-nkwdip/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/baby-nkwdip/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @devops-team

Add public-samples/baby-nkwdip/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @devops-team

Add public-samples/baby-nkwdip/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @devops-team

Add public-samples/baby-nkwdip/.github/workflows/quality.yml
  .github/workflows/quality.yml
Owners: @devops-team

Add public-samples/baby-nkwdip/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team

Add public-samples/baby-nkwdip/.github/workflows/security.yml
  .github/workflows/security.yml
Owners: @devops-team

Add public-samples/baby-nkwdip/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @devops-team

Add public-samples/baby-nkwdip/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/baby-nkwdip/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/baby-nkwdip/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/baby-nkwdip/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/baby-nkwdip/infrastructure/docker/backend.dockerfile
  infrastructure/docker/backend.dockerfile
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/docker/ml.dockerfile
  infrastructure/docker/ml.dockerfile
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/docker/nginx.conf
  infrastructure/docker/nginx.conf
Owners: @security-team, @devops-team

Add public-samples/baby-nkwdip/infrastructure/docker/nginx.dockerfile
  infrastructure/docker/nginx.dockerfile
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/backend-deployment.yaml
  infrastructure/k8s/backend-deployment.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/backend-service.yaml
  infrastructure/k8s/backend-service.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/configmap.yaml
  infrastructure/k8s/configmap.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/ingress.yaml
  infrastructure/k8s/ingress.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/ml-deployment.yaml
  infrastructure/k8s/ml-deployment.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/ml-service.yaml
  infrastructure/k8s/ml-service.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/mongodb-service.yaml
  infrastructure/k8s/mongodb-service.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/mongodb-statefulset.yaml
  infrastructure/k8s/mongodb-statefulset.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/redis-service.yaml
  infrastructure/k8s/redis-service.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/redis-statefulset.yaml
  infrastructure/k8s/redis-statefulset.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/k8s/secrets.yaml
  infrastructure/k8s/secrets.yaml
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/scripts/monitoring.sh
  infrastructure/scripts/monitoring.sh
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/scripts/security.sh
  infrastructure/scripts/security.sh
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team
