Repository blitzy-public-samples/baby-nkwdip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @android-team, @ios-team, @backend-team, @frontend-team, @ml-team, @qa-team, @devops-team, @security-team, @dependency-managers, @audio-processing-team, @technical-writers, @database-team, @sre-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Images.xcassets/AppIcon.appiconset/Contents.json
  src/ios/BabyCryAnalyzer/Images.xcassets/AppIcon.appiconset/Contents.json
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Notifications/NotificationModule.m
  src/ios/BabyCryAnalyzer/Notifications/NotificationModule.m
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Notifications/NotificationModule.swift
  src/ios/BabyCryAnalyzer/Notifications/NotificationModule.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Notifications/NotificationService.swift
  src/ios/BabyCryAnalyzer/Notifications/NotificationService.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Protocols/AudioProcessorDelegate.swift
  src/ios/BabyCryAnalyzer/Protocols/AudioProcessorDelegate.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Protocols/BackgroundTaskDelegate.swift
  src/ios/BabyCryAnalyzer/Protocols/BackgroundTaskDelegate.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Protocols/NotificationDelegate.swift
  src/ios/BabyCryAnalyzer/Protocols/NotificationDelegate.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Storage/KeychainManager.swift
  src/ios/BabyCryAnalyzer/Storage/KeychainManager.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Storage/SecureStorageModule.m
  src/ios/BabyCryAnalyzer/Storage/SecureStorageModule.m
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Storage/SecureStorageModule.swift
  src/ios/BabyCryAnalyzer/Storage/SecureStorageModule.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Utils/AudioUtils.swift
  src/ios/BabyCryAnalyzer/Utils/AudioUtils.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Utils/PermissionUtils.swift
  src/ios/BabyCryAnalyzer/Utils/PermissionUtils.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Utils/SecurityUtils.swift
  src/ios/BabyCryAnalyzer/Utils/SecurityUtils.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/Tests/AudioProcessorTests.swift
  src/ios/Tests/AudioProcessorTests.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/Tests/BackgroundTaskModuleTests.swift
  src/ios/Tests/BackgroundTaskModuleTests.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/Tests/KeychainManagerTests.swift
  src/ios/Tests/KeychainManagerTests.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/Tests/NoiseFilterTests.swift
  src/ios/Tests/NoiseFilterTests.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/Tests/NotificationModuleTests.swift
  src/ios/Tests/NotificationModuleTests.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/Tests/SecurityUtilsTests.swift
  src/ios/Tests/SecurityUtilsTests.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/UITests/AudioCaptureUITests.swift
  src/ios/UITests/AudioCaptureUITests.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/UITests/BackgroundMonitoringUITests.swift
  src/ios/UITests/BackgroundMonitoringUITests.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/UITests/NotificationUITests.swift
  src/ios/UITests/NotificationUITests.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/fastlane/Appfile
  src/ios/fastlane/Appfile
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/fastlane/Fastfile
  src/ios/fastlane/Fastfile
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/fastlane/Matchfile
  src/ios/fastlane/Matchfile
Owners: @ios-team

Add public-samples/baby-nkwdip/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/app.json
  src/web/app.json
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/babel.config.js
  src/web/babel.config.js
Owners: @security-team, @devops-team

Add public-samples/baby-nkwdip/src/web/index.js
  src/web/index.js
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/jest.config.js
  src/web/jest.config.js
Owners: @security-team, @devops-team

Add public-samples/baby-nkwdip/src/web/metro.config.js
  src/web/metro.config.js
Owners: @security-team, @devops-team

Add public-samples/baby-nkwdip/src/web/package.json
  src/web/package.json
Owners: @dependency-managers

Add public-samples/baby-nkwdip/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/components/audio/AudioWaveform.test.tsx
  src/web/src/__tests__/components/audio/AudioWaveform.test.tsx
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/components/baby/BabyForm.test.tsx
  src/web/src/__tests__/components/baby/BabyForm.test.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/components/common/Button.test.tsx
  src/web/src/__tests__/components/common/Button.test.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/components/history/HistoryChart.test.tsx
  src/web/src/__tests__/components/history/HistoryChart.test.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request
* @project-leads

# Android native code including audio processing components
/src/android/** @android-team

# iOS native code including audio capture modules
/src/ios/** @ios-team

# Backend services including API and ML processing
/src/backend/** @backend-team

# Web/React Native cross-platform components
/src/web/** @frontend-team

# Machine learning models and training code
/src/ml/** @ml-team

# Test files across all components
/src/**/test/** @qa-team

# Infrastructure and deployment configurations
/infrastructure/** @devops-team
*.yml @devops-team

# Security-sensitive components
/src/**/security* @security-team

# Dependency management
package*.json @dependency-managers
*.gradle @android-team @dependency-managers
Podfile* @ios-team @dependency-managers

# Audio processing components
/src/**/audio/** @audio-processing-team

# Environment and security configurations
*.env* @security-team @devops-team

# Documentation
/docs/** @technical-writers

# Ensure security team reviews any encryption or auth changes
/src/**/auth/** @security-team
/src/**/crypto/** @security-team

# CI/CD pipeline configurations
/.github/workflows/** @devops-team

# Database schema and migrations
/src/**/db/migrations/** @backend-team @database-team

# API specifications and documentation
/src/**/api/** @backend-team @technical-writers

# Monitoring and observability configurations
/src/**/monitoring/** @devops-team @sre-team

# Mobile platform-specific configurations
/android/** @android-team
/ios/** @ios-team

# Shared utilities and core components
/src/shared/** @project-leads @frontend-team @backend-team

# Configuration files requiring security review
*.config.js @security-team @devops-team
*.conf @security-team @devops-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Terraform infrastructure code
*.tf @devops-team @security-team
