Repository blitzy-public-samples/baby-nkwdip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @android-team, @ios-team, @backend-team, @frontend-team, @ml-team, @qa-team, @devops-team, @security-team, @dependency-managers, @audio-processing-team, @technical-writers, @database-team, @sre-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/notification/NotificationPackage.kt
  src/android/app/src/main/java/com/babycryanalyzer/notification/NotificationPackage.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/notification/NotificationService.kt
  src/android/app/src/main/java/com/babycryanalyzer/notification/NotificationService.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/storage/SecureStorageModule.kt
  src/android/app/src/main/java/com/babycryanalyzer/storage/SecureStorageModule.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/storage/SecureStoragePackage.kt
  src/android/app/src/main/java/com/babycryanalyzer/storage/SecureStoragePackage.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/utils/AudioUtils.kt
  src/android/app/src/main/java/com/babycryanalyzer/utils/AudioUtils.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/utils/PermissionUtils.kt
  src/android/app/src/main/java/com/babycryanalyzer/utils/PermissionUtils.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/utils/SecurityUtils.kt
  src/android/app/src/main/java/com/babycryanalyzer/utils/SecurityUtils.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/drawable/ic_launcher_background.xml
  src/android/app/src/main/res/drawable/ic_launcher_background.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  src/android/app/src/main/res/drawable/ic_launcher_foreground.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/drawable/ic_notification.xml
  src/android/app/src/main/res/drawable/ic_notification.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/drawable/splash_screen.xml
  src/android/app/src/main/res/drawable/splash_screen.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/layout/activity_main.xml
  src/android/app/src/main/res/layout/activity_main.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/layout/launch_screen.xml
  src/android/app/src/main/res/layout/launch_screen.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  src/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  src/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  src/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  src/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  src/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  src/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  src/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  src/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  src/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  src/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/values-night/colors.xml
  src/android/app/src/main/res/values-night/colors.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/values-night/styles.xml
  src/android/app/src/main/res/values-night/styles.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/values/colors.xml
  src/android/app/src/main/res/values/colors.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/values/strings.xml
  src/android/app/src/main/res/values/strings.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/res/values/styles.xml
  src/android/app/src/main/res/values/styles.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/release/AndroidManifest.xml
  src/android/app/src/release/AndroidManifest.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/test/java/com/babycryanalyzer/AudioProcessorTest.kt
  src/android/app/src/test/java/com/babycryanalyzer/AudioProcessorTest.kt
Owners: @qa-team

Add public-samples/baby-nkwdip/src/android/app/src/test/java/com/babycryanalyzer/NoiseFilterTest.kt
  src/android/app/src/test/java/com/babycryanalyzer/NoiseFilterTest.kt
Owners: @qa-team

Add public-samples/baby-nkwdip/src/android/app/src/test/java/com/babycryanalyzer/SecurityUtilsTest.kt
  src/android/app/src/test/java/com/babycryanalyzer/SecurityUtilsTest.kt
Owners: @qa-team

Add public-samples/baby-nkwdip/src/android/gradle/wrapper/gradle-wrapper.jar
  src/android/gradle/wrapper/gradle-wrapper.jar
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @android-team

Add public-samples/baby-nkwdip/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/.env.example
  src/backend/.env.example
Owners: @security-team, @devops-team

Add public-samples/baby-nkwdip/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team

Add public-samples/baby-nkwdip/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request
* @project-leads

# Android native code including audio processing components
/src/android/** @android-team

# iOS native code including audio capture modules
/src/ios/** @ios-team

# Backend services including API and ML processing
/src/backend/** @backend-team

# Web/React Native cross-platform components
/src/web/** @frontend-team

# Machine learning models and training code
/src/ml/** @ml-team

# Test files across all components
/src/**/test/** @qa-team

# Infrastructure and deployment configurations
/infrastructure/** @devops-team
*.yml @devops-team

# Security-sensitive components
/src/**/security* @security-team

# Dependency management
package*.json @dependency-managers
*.gradle @android-team @dependency-managers
Podfile* @ios-team @dependency-managers

# Audio processing components
/src/**/audio/** @audio-processing-team

# Environment and security configurations
*.env* @security-team @devops-team

# Documentation
/docs/** @technical-writers

# Ensure security team reviews any encryption or auth changes
/src/**/auth/** @security-team
/src/**/crypto/** @security-team

# CI/CD pipeline configurations
/.github/workflows/** @devops-team

# Database schema and migrations
/src/**/db/migrations/** @backend-team @database-team

# API specifications and documentation
/src/**/api/** @backend-team @technical-writers

# Monitoring and observability configurations
/src/**/monitoring/** @devops-team @sre-team

# Mobile platform-specific configurations
/android/** @android-team
/ios/** @ios-team

# Shared utilities and core components
/src/shared/** @project-leads @frontend-team @backend-team

# Configuration files requiring security review
*.config.js @security-team @devops-team
*.conf @security-team @devops-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Terraform infrastructure code
*.tf @devops-team @security-team
