Repository blitzy-public-samples/baby-nkwdip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @android-team, @ios-team, @backend-team, @frontend-team, @ml-team, @qa-team, @devops-team, @security-team, @dependency-managers, @audio-processing-team, @technical-writers, @database-team, @sre-team

Add public-samples/baby-nkwdip/src/backend/src/modules/analysis/test/analysis.controller.spec.ts
  src/backend/src/modules/analysis/test/analysis.controller.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/modules/analysis/test/analysis.service.spec.ts
  src/backend/src/modules/analysis/test/analysis.service.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/modules/auth/auth.controller.ts
  src/backend/src/modules/auth/auth.controller.ts
Owners: @security-team

Add public-samples/baby-nkwdip/src/backend/src/modules/auth/auth.module.ts
  src/backend/src/modules/auth/auth.module.ts
Owners: @security-team

Add public-samples/baby-nkwdip/src/backend/src/modules/auth/auth.service.ts
  src/backend/src/modules/auth/auth.service.ts
Owners: @security-team

Add public-samples/baby-nkwdip/src/backend/src/modules/auth/dto/login.dto.ts
  src/backend/src/modules/auth/dto/login.dto.ts
Owners: @security-team

Add public-samples/baby-nkwdip/src/backend/src/modules/auth/dto/register.dto.ts
  src/backend/src/modules/auth/dto/register.dto.ts
Owners: @security-team

Add public-samples/baby-nkwdip/src/backend/src/modules/auth/guards/jwt.guard.ts
  src/backend/src/modules/auth/guards/jwt.guard.ts
Owners: @security-team

Add public-samples/baby-nkwdip/src/backend/src/modules/auth/strategies/jwt.strategy.ts
  src/backend/src/modules/auth/strategies/jwt.strategy.ts
Owners: @security-team

Add public-samples/baby-nkwdip/src/backend/src/modules/auth/test/auth.controller.spec.ts
  src/backend/src/modules/auth/test/auth.controller.spec.ts
Owners: @security-team

Add public-samples/baby-nkwdip/src/backend/src/modules/auth/test/auth.service.spec.ts
  src/backend/src/modules/auth/test/auth.service.spec.ts
Owners: @security-team

Add public-samples/baby-nkwdip/src/backend/src/modules/baby/baby.controller.ts
  src/backend/src/modules/baby/baby.controller.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/baby/baby.module.ts
  src/backend/src/modules/baby/baby.module.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/baby/baby.service.ts
  src/backend/src/modules/baby/baby.service.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/baby/dto/create-baby.dto.ts
  src/backend/src/modules/baby/dto/create-baby.dto.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/baby/dto/update-baby.dto.ts
  src/backend/src/modules/baby/dto/update-baby.dto.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/baby/schemas/baby.schema.ts
  src/backend/src/modules/baby/schemas/baby.schema.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/baby/test/baby.controller.spec.ts
  src/backend/src/modules/baby/test/baby.controller.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/modules/baby/test/baby.service.spec.ts
  src/backend/src/modules/baby/test/baby.service.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/modules/ml/ml.module.ts
  src/backend/src/modules/ml/ml.module.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/ml/ml.service.ts
  src/backend/src/modules/ml/ml.service.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/ml/interfaces/model.interface.ts
  src/backend/src/modules/ml/interfaces/model.interface.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/ml/services/feature-extraction.service.ts
  src/backend/src/modules/ml/services/feature-extraction.service.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/ml/services/model-training.service.ts
  src/backend/src/modules/ml/services/model-training.service.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/ml/services/prediction.service.ts
  src/backend/src/modules/ml/services/prediction.service.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/ml/test/ml.service.spec.ts
  src/backend/src/modules/ml/test/ml.service.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/modules/notification/notification.controller.ts
  src/backend/src/modules/notification/notification.controller.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/notification/notification.module.ts
  src/backend/src/modules/notification/notification.module.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/notification/notification.service.ts
  src/backend/src/modules/notification/notification.service.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/notification/dto/send-notification.dto.ts
  src/backend/src/modules/notification/dto/send-notification.dto.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/notification/test/notification.controller.spec.ts
  src/backend/src/modules/notification/test/notification.controller.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/modules/notification/test/notification.service.spec.ts
  src/backend/src/modules/notification/test/notification.service.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/modules/storage/storage.module.ts
  src/backend/src/modules/storage/storage.module.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/storage/storage.service.ts
  src/backend/src/modules/storage/storage.service.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/storage/interfaces/storage.interface.ts
  src/backend/src/modules/storage/interfaces/storage.interface.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/storage/test/storage.service.spec.ts
  src/backend/src/modules/storage/test/storage.service.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/modules/user/user.controller.ts
  src/backend/src/modules/user/user.controller.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/user/user.module.ts
  src/backend/src/modules/user/user.module.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/user/user.service.ts
  src/backend/src/modules/user/user.service.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/user/dto/create-user.dto.ts
  src/backend/src/modules/user/dto/create-user.dto.ts
Owners: @backend-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request
* @project-leads

# Android native code including audio processing components
/src/android/** @android-team

# iOS native code including audio capture modules
/src/ios/** @ios-team

# Backend services including API and ML processing
/src/backend/** @backend-team

# Web/React Native cross-platform components
/src/web/** @frontend-team

# Machine learning models and training code
/src/ml/** @ml-team

# Test files across all components
/src/**/test/** @qa-team

# Infrastructure and deployment configurations
/infrastructure/** @devops-team
*.yml @devops-team

# Security-sensitive components
/src/**/security* @security-team

# Dependency management
package*.json @dependency-managers
*.gradle @android-team @dependency-managers
Podfile* @ios-team @dependency-managers

# Audio processing components
/src/**/audio/** @audio-processing-team

# Environment and security configurations
*.env* @security-team @devops-team

# Documentation
/docs/** @technical-writers

# Ensure security team reviews any encryption or auth changes
/src/**/auth/** @security-team
/src/**/crypto/** @security-team

# CI/CD pipeline configurations
/.github/workflows/** @devops-team

# Database schema and migrations
/src/**/db/migrations/** @backend-team @database-team

# API specifications and documentation
/src/**/api/** @backend-team @technical-writers

# Monitoring and observability configurations
/src/**/monitoring/** @devops-team @sre-team

# Mobile platform-specific configurations
/android/** @android-team
/ios/** @ios-team

# Shared utilities and core components
/src/shared/** @project-leads @frontend-team @backend-team

# Configuration files requiring security review
*.config.js @security-team @devops-team
*.conf @security-team @devops-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Terraform infrastructure code
*.tf @devops-team @security-team
