Repository blitzy-public-samples/baby-nkwdip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @android-team, @ios-team, @backend-team, @frontend-team, @ml-team, @qa-team, @devops-team, @security-team, @dependency-managers, @audio-processing-team, @technical-writers, @database-team, @sre-team

Add public-samples/baby-nkwdip/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/ecs/main.tf
  infrastructure/terraform/modules/ecs/main.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/ecs/outputs.tf
  infrastructure/terraform/modules/ecs/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/ecs/variables.tf
  infrastructure/terraform/modules/ecs/variables.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team, @security-team

Add public-samples/baby-nkwdip/src/android/build.gradle
  src/android/build.gradle
Owners: @android-team, @dependency-managers

Add public-samples/baby-nkwdip/src/android/gradle.properties
  src/android/gradle.properties
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/gradlew
  src/android/gradlew
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/settings.gradle
  src/android/settings.gradle
Owners: @android-team, @dependency-managers

Add public-samples/baby-nkwdip/src/android/app/build.gradle
  src/android/app/build.gradle
Owners: @android-team, @dependency-managers

Add public-samples/baby-nkwdip/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/androidTest/java/com/babycryanalyzer/AudioCaptureModuleTest.kt
  src/android/app/src/androidTest/java/com/babycryanalyzer/AudioCaptureModuleTest.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/androidTest/java/com/babycryanalyzer/BackgroundMonitoringServiceTest.kt
  src/android/app/src/androidTest/java/com/babycryanalyzer/BackgroundMonitoringServiceTest.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/androidTest/java/com/babycryanalyzer/NotificationModuleTest.kt
  src/android/app/src/androidTest/java/com/babycryanalyzer/NotificationModuleTest.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/debug/AndroidManifest.xml
  src/android/app/src/debug/AndroidManifest.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/AndroidManifest.xml
  src/android/app/src/main/AndroidManifest.xml
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/MainActivity.kt
  src/android/app/src/main/java/com/babycryanalyzer/MainActivity.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/MainApplication.kt
  src/android/app/src/main/java/com/babycryanalyzer/MainApplication.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/audio/AudioCaptureModule.kt
  src/android/app/src/main/java/com/babycryanalyzer/audio/AudioCaptureModule.kt
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/audio/AudioCapturePackage.kt
  src/android/app/src/main/java/com/babycryanalyzer/audio/AudioCapturePackage.kt
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/audio/AudioProcessor.kt
  src/android/app/src/main/java/com/babycryanalyzer/audio/AudioProcessor.kt
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/audio/AudioRecorderService.kt
  src/android/app/src/main/java/com/babycryanalyzer/audio/AudioRecorderService.kt
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/audio/NoiseFilter.kt
  src/android/app/src/main/java/com/babycryanalyzer/audio/NoiseFilter.kt
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/audio/WaveformView.kt
  src/android/app/src/main/java/com/babycryanalyzer/audio/WaveformView.kt
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/background/BackgroundMonitoringService.kt
  src/android/app/src/main/java/com/babycryanalyzer/background/BackgroundMonitoringService.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/background/BackgroundTaskModule.kt
  src/android/app/src/main/java/com/babycryanalyzer/background/BackgroundTaskModule.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/background/BackgroundTaskPackage.kt
  src/android/app/src/main/java/com/babycryanalyzer/background/BackgroundTaskPackage.kt
Owners: @android-team

Add public-samples/baby-nkwdip/src/android/app/src/main/java/com/babycryanalyzer/notification/NotificationModule.kt
  src/android/app/src/main/java/com/babycryanalyzer/notification/NotificationModule.kt
Owners: @android-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request
* @project-leads

# Android native code including audio processing components
/src/android/** @android-team

# iOS native code including audio capture modules
/src/ios/** @ios-team

# Backend services including API and ML processing
/src/backend/** @backend-team

# Web/React Native cross-platform components
/src/web/** @frontend-team

# Machine learning models and training code
/src/ml/** @ml-team

# Test files across all components
/src/**/test/** @qa-team

# Infrastructure and deployment configurations
/infrastructure/** @devops-team
*.yml @devops-team

# Security-sensitive components
/src/**/security* @security-team

# Dependency management
package*.json @dependency-managers
*.gradle @android-team @dependency-managers
Podfile* @ios-team @dependency-managers

# Audio processing components
/src/**/audio/** @audio-processing-team

# Environment and security configurations
*.env* @security-team @devops-team

# Documentation
/docs/** @technical-writers

# Ensure security team reviews any encryption or auth changes
/src/**/auth/** @security-team
/src/**/crypto/** @security-team

# CI/CD pipeline configurations
/.github/workflows/** @devops-team

# Database schema and migrations
/src/**/db/migrations/** @backend-team @database-team

# API specifications and documentation
/src/**/api/** @backend-team @technical-writers

# Monitoring and observability configurations
/src/**/monitoring/** @devops-team @sre-team

# Mobile platform-specific configurations
/android/** @android-team
/ios/** @ios-team

# Shared utilities and core components
/src/shared/** @project-leads @frontend-team @backend-team

# Configuration files requiring security review
*.config.js @security-team @devops-team
*.conf @security-team @devops-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Terraform infrastructure code
*.tf @devops-team @security-team
