Repository blitzy-public-samples/baby-nkwdip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @android-team, @ios-team, @backend-team, @frontend-team, @ml-team, @qa-team, @devops-team, @security-team, @dependency-managers, @audio-processing-team, @technical-writers, @database-team, @sre-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request
* @project-leads

# Android native code including audio processing components
/src/android/** @android-team

# iOS native code including audio capture modules
/src/ios/** @ios-team

# Backend services including API and ML processing
/src/backend/** @backend-team

# Web/React Native cross-platform components
/src/web/** @frontend-team

# Machine learning models and training code
/src/ml/** @ml-team

# Test files across all components
/src/**/test/** @qa-team

# Infrastructure and deployment configurations
/infrastructure/** @devops-team
*.yml @devops-team

# Security-sensitive components
/src/**/security* @security-team

# Dependency management
package*.json @dependency-managers
*.gradle @android-team @dependency-managers
Podfile* @ios-team @dependency-managers

# Audio processing components
/src/**/audio/** @audio-processing-team

# Environment and security configurations
*.env* @security-team @devops-team

# Documentation
/docs/** @technical-writers

# Ensure security team reviews any encryption or auth changes
/src/**/auth/** @security-team
/src/**/crypto/** @security-team

# CI/CD pipeline configurations
/.github/workflows/** @devops-team

# Database schema and migrations
/src/**/db/migrations/** @backend-team @database-team

# API specifications and documentation
/src/**/api/** @backend-team @technical-writers

# Monitoring and observability configurations
/src/**/monitoring/** @devops-team @sre-team

# Mobile platform-specific configurations
/android/** @android-team
/ios/** @ios-team

# Shared utilities and core components
/src/shared/** @project-leads @frontend-team @backend-team

# Configuration files requiring security review
*.config.js @security-team @devops-team
*.conf @security-team @devops-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Terraform infrastructure code
*.tf @devops-team @security-team

Add public-samples/baby-nkwdip/src/backend/src/modules/user/dto/update-user.dto.ts
  src/backend/src/modules/user/dto/update-user.dto.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/user/schemas/user.schema.ts
  src/backend/src/modules/user/schemas/user.schema.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/user/test/user.controller.spec.ts
  src/backend/src/modules/user/test/user.controller.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/modules/user/test/user.service.spec.ts
  src/backend/src/modules/user/test/user.service.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/modules/websocket/websocket.gateway.ts
  src/backend/src/modules/websocket/websocket.gateway.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/websocket/websocket.module.ts
  src/backend/src/modules/websocket/websocket.module.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/websocket/interfaces/socket.interface.ts
  src/backend/src/modules/websocket/interfaces/socket.interface.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/modules/websocket/test/websocket.gateway.spec.ts
  src/backend/src/modules/websocket/test/websocket.gateway.spec.ts
Owners: @qa-team

Add public-samples/baby-nkwdip/src/backend/src/types/environment.d.ts
  src/backend/src/types/environment.d.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/backend/src/types/express.d.ts
  src/backend/src/types/express.d.ts
Owners: @backend-team

Add public-samples/baby-nkwdip/src/ios/.swiftlint.yml
  src/ios/.swiftlint.yml
Owners: @devops-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer-Bridging-Header.h
  src/ios/BabyCryAnalyzer-Bridging-Header.h
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/Podfile
  src/ios/Podfile
Owners: @ios-team, @dependency-managers

Add public-samples/baby-nkwdip/src/ios/Podfile.lock
  src/ios/Podfile.lock
Owners: @ios-team, @dependency-managers

Add public-samples/baby-nkwdip/src/ios/README.md
  src/ios/README.md
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer.xcodeproj/project.pbxproj
  src/ios/BabyCryAnalyzer.xcodeproj/project.pbxproj
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer.xcodeproj/xcshareddata/xcschemes/BabyCryAnalyzer.xcscheme
  src/ios/BabyCryAnalyzer.xcodeproj/xcshareddata/xcschemes/BabyCryAnalyzer.xcscheme
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer.xcworkspace/contents.xcworkspacedata
  src/ios/BabyCryAnalyzer.xcworkspace/contents.xcworkspacedata
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/AppDelegate.swift
  src/ios/BabyCryAnalyzer/AppDelegate.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/BabyCryAnalyzer.entitlements
  src/ios/BabyCryAnalyzer/BabyCryAnalyzer.entitlements
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Info.plist
  src/ios/BabyCryAnalyzer/Info.plist
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/LaunchScreen.storyboard
  src/ios/BabyCryAnalyzer/LaunchScreen.storyboard
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/SceneDelegate.swift
  src/ios/BabyCryAnalyzer/SceneDelegate.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Audio/AudioCaptureModule.m
  src/ios/BabyCryAnalyzer/Audio/AudioCaptureModule.m
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Audio/AudioCaptureModule.swift
  src/ios/BabyCryAnalyzer/Audio/AudioCaptureModule.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Audio/AudioProcessor.swift
  src/ios/BabyCryAnalyzer/Audio/AudioProcessor.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Audio/AudioRecorderService.swift
  src/ios/BabyCryAnalyzer/Audio/AudioRecorderService.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Audio/NoiseFilter.swift
  src/ios/BabyCryAnalyzer/Audio/NoiseFilter.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Audio/WaveformView.swift
  src/ios/BabyCryAnalyzer/Audio/WaveformView.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Background/BackgroundMonitoringService.swift
  src/ios/BabyCryAnalyzer/Background/BackgroundMonitoringService.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Background/BackgroundTaskModule.m
  src/ios/BabyCryAnalyzer/Background/BackgroundTaskModule.m
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Background/BackgroundTaskModule.swift
  src/ios/BabyCryAnalyzer/Background/BackgroundTaskModule.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Base.lproj/LaunchScreen.xib
  src/ios/BabyCryAnalyzer/Base.lproj/LaunchScreen.xib
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Configuration/AudioConfiguration.swift
  src/ios/BabyCryAnalyzer/Configuration/AudioConfiguration.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Configuration/BackgroundConfiguration.swift
  src/ios/BabyCryAnalyzer/Configuration/BackgroundConfiguration.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Configuration/NotificationConfiguration.swift
  src/ios/BabyCryAnalyzer/Configuration/NotificationConfiguration.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Extensions/AVAudioSession+Extensions.swift
  src/ios/BabyCryAnalyzer/Extensions/AVAudioSession+Extensions.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Extensions/Data+Extensions.swift
  src/ios/BabyCryAnalyzer/Extensions/Data+Extensions.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Extensions/String+Extensions.swift
  src/ios/BabyCryAnalyzer/Extensions/String+Extensions.swift
Owners: @ios-team

Add public-samples/baby-nkwdip/src/ios/BabyCryAnalyzer/Images.xcassets/Contents.json
  src/ios/BabyCryAnalyzer/Images.xcassets/Contents.json
Owners: @ios-team
