Repository blitzy-public-samples/baby-nkwdip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @android-team, @ios-team, @backend-team, @frontend-team, @ml-team, @qa-team, @devops-team, @security-team, @dependency-managers, @audio-processing-team, @technical-writers, @database-team, @sre-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request
* @project-leads

# Android native code including audio processing components
/src/android/** @android-team

# iOS native code including audio capture modules
/src/ios/** @ios-team

# Backend services including API and ML processing
/src/backend/** @backend-team

# Web/React Native cross-platform components
/src/web/** @frontend-team

# Machine learning models and training code
/src/ml/** @ml-team

# Test files across all components
/src/**/test/** @qa-team

# Infrastructure and deployment configurations
/infrastructure/** @devops-team
*.yml @devops-team

# Security-sensitive components
/src/**/security* @security-team

# Dependency management
package*.json @dependency-managers
*.gradle @android-team @dependency-managers
Podfile* @ios-team @dependency-managers

# Audio processing components
/src/**/audio/** @audio-processing-team

# Environment and security configurations
*.env* @security-team @devops-team

# Documentation
/docs/** @technical-writers

# Ensure security team reviews any encryption or auth changes
/src/**/auth/** @security-team
/src/**/crypto/** @security-team

# CI/CD pipeline configurations
/.github/workflows/** @devops-team

# Database schema and migrations
/src/**/db/migrations/** @backend-team @database-team

# API specifications and documentation
/src/**/api/** @backend-team @technical-writers

# Monitoring and observability configurations
/src/**/monitoring/** @devops-team @sre-team

# Mobile platform-specific configurations
/android/** @android-team
/ios/** @ios-team

# Shared utilities and core components
/src/shared/** @project-leads @frontend-team @backend-team

# Configuration files requiring security review
*.config.js @security-team @devops-team
*.conf @security-team @devops-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Terraform infrastructure code
*.tf @devops-team @security-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/components/monitor/AnalysisResult.test.tsx
  src/web/src/__tests__/components/monitor/AnalysisResult.test.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/hooks/useAudio.test.ts
  src/web/src/__tests__/hooks/useAudio.test.ts
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/screens/auth/LoginScreen.test.tsx
  src/web/src/__tests__/screens/auth/LoginScreen.test.tsx
Owners: @security-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/screens/monitor/MonitorScreen.test.tsx
  src/web/src/__tests__/screens/monitor/MonitorScreen.test.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/services/api.service.test.ts
  src/web/src/__tests__/services/api.service.test.ts
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/store/reducers/auth.reducer.test.ts
  src/web/src/__tests__/store/reducers/auth.reducer.test.ts
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/__tests__/utils/audio.util.test.ts
  src/web/src/__tests__/utils/audio.util.test.ts
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/fonts/Roboto-Bold.ttf
  src/web/src/assets/fonts/Roboto-Bold.ttf
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/fonts/Roboto-Medium.ttf
  src/web/src/assets/fonts/Roboto-Medium.ttf
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/fonts/Roboto-Regular.ttf
  src/web/src/assets/fonts/Roboto-Regular.ttf
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/icons/baby.svg
  src/web/src/assets/icons/baby.svg
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/icons/history.svg
  src/web/src/assets/icons/history.svg
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/icons/home.svg
  src/web/src/assets/icons/home.svg
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/icons/monitor.svg
  src/web/src/assets/icons/monitor.svg
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/icons/profile.svg
  src/web/src/assets/icons/profile.svg
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/icons/settings.svg
  src/web/src/assets/icons/settings.svg
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/images/logo.png
  src/web/src/assets/images/logo.png
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/images/onboarding-1.png
  src/web/src/assets/images/onboarding-1.png
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/images/onboarding-2.png
  src/web/src/assets/images/onboarding-2.png
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/assets/images/onboarding-3.png
  src/web/src/assets/images/onboarding-3.png
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/audio/AudioWaveform.tsx
  src/web/src/components/audio/AudioWaveform.tsx
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/web/src/components/audio/NoiseIndicator.tsx
  src/web/src/components/audio/NoiseIndicator.tsx
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/web/src/components/audio/RecordButton.tsx
  src/web/src/components/audio/RecordButton.tsx
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/web/src/components/audio/SignalMeter.tsx
  src/web/src/components/audio/SignalMeter.tsx
Owners: @audio-processing-team

Add public-samples/baby-nkwdip/src/web/src/components/baby/BabyCard.tsx
  src/web/src/components/baby/BabyCard.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/baby/BabyForm.tsx
  src/web/src/components/baby/BabyForm.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/baby/BabyList.tsx
  src/web/src/components/baby/BabyList.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/baby/MilestoneCard.tsx
  src/web/src/components/baby/MilestoneCard.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/common/Header.tsx
  src/web/src/components/common/Header.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/common/Input.tsx
  src/web/src/components/common/Input.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/common/Loading.tsx
  src/web/src/components/common/Loading.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/common/Modal.tsx
  src/web/src/components/common/Modal.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/common/TabBar.tsx
  src/web/src/components/common/TabBar.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/common/Text.tsx
  src/web/src/components/common/Text.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/history/AnalysisCard.tsx
  src/web/src/components/history/AnalysisCard.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/history/HistoryChart.tsx
  src/web/src/components/history/HistoryChart.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/history/HistoryFilter.tsx
  src/web/src/components/history/HistoryFilter.tsx
Owners: @frontend-team

Add public-samples/baby-nkwdip/src/web/src/components/history/TimelineView.tsx
  src/web/src/components/history/TimelineView.tsx
Owners: @frontend-team
